body {
    background-color: #FFD8D9;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#icon-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

#icon-container img {
    height: 50px; /* You can adjust the size as needed */
}

#ideafusion-container {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#ideafusion-container img {
    height: 200px; /* Adjust size as needed */
}

#input-container {
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
}

#input-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #464B51;
    font-size: 16px;
}

#central-box {
    background-color: #555557;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
}

#buttons button {
    background-color: #D42B2E;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#buttons button:hover {
    background-color: #464B51;
}

